[submodule "libutp"]
	path = libutp
	url = https://github.com/clostra/libutp
[submodule "libbtdht"]
	path = libbtdht
	url = https://github.com/clostra/libbtdht
[submodule "Libevent"]
	path = Libevent
	url = https://github.com/clostra/Libevent
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/clostra/libsodium
[submodule "blocksruntime"]
	path = blocksruntime
	url = https://github.com/mackyle/blocksruntime.git
